@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  
}

@layer base{
  .s {
    @apply mt-8 mr-0 md:mr-2 w-2/6 md:w-1/5 ;
  }
  .u{
    @apply mt-8 mr-0 md:mr-2 w-2/6  md:w-1/5 hidden;
  }
}



body {
  font-family: 'Josefin Sans', sans-serif;
}
